

/* selector de etiqueta */
*{
    padding: 0%;
    margin: 0%;
}


body{
    
    background-image: url('../img/wallhaven-kx82d6_1920x1080.png');
    
    
    
    
   
    .logo{
        text-align: left;
        /* background-color: #E6E6E6;
        background-repeat: no-repeat;
        background-size: cover; */
        
    }
    .navegador{
        color: #F0F8FF;
        font-family: 'Josefin Sans', sans-serif;
    }
    

    .principal{
        letter-spacing: 6px;
        text-align: left;
        text-transform: uppercase;
        color: rgba(213, 214, 200, 0.974);
        font-family: 'Josefin Sans', sans-serif;;
        

        
    }
    .datos{
        text-align: left;
        color: #F0F8FF;
    }
    
    .parrafos {
        text-align: left;
        color: #F0F8FF;
        font-family: 'Josefin Sans', sans-serif;
    }
    .subtitulo{
        letter-spacing: 8px;
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        color: #2A9092;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 84.69%;
        text-align: left;

    }
    .lista{
        font-family: 'Josefin Sans', sans-serif;;
        
    }

    .fechas{
        color: black;
        font-weight: bold;
        
    }
    .navegador{
        color: white;
        text-align: center;
    }
    .piedepagina{
        
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;      
        
    }
    .datolista{
        font-weight: normal;
        font-family: 'Josefin Sans', sans-serif;
    }

    .final{
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        align-items: center;
    }


    }


    

